@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    .container_Box {
      // border: 2px solid red;
      background-color: rgba(177, 222, 255, 0.24);
      position: relative;
      overflow-x: hidden;

      header {
        border: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(177, 222, 255, 0.24);
        padding: 24px 6%;

        .logo {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 31.635px;
          line-height: 47px;
          letter-spacing: 1px;
          color: #40a3f8;
        }
        nav {
          ul {
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 11px;

            li {
              &:last-of-type {
                padding: 13px 28px;
                background: #40a3f8;
                border-radius: 5px;
                border: 1px solid #40a3f8;
                transition: all 0.4s;
                cursor: pointer;

                a {
                  opacity: 1;
                  color: #fff;
                }
                &:hover {
                  background-color: #fff;
                  border: 1px solid #40a3f8;
                  a {
                    color: #40a3f8;
                  }
                }
              }
              a {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #262323;
                opacity: 0.7;
                text-decoration: none;
                transition: all 0.4s;
                cursor: pointer;

                &:hover {
                  color: #40a3f8;
                }
              }
            }
          }
        }
        .bars {
          display: none;
          // border: 2px solid red;
          position: fixed;
          right: 0;
          top: 0;
          width: 80%;
          background-color: #fff;
          text-align: right;

          i {
            font-size: 32px;
            display: inline-block;
            padding: 10px;
          }
          ul {
            text-align: center;
            list-style-type: none;
            display: grid;
            gap: 30px;
            li {
              &:last-of-type {
                padding: 13px 28px;
                background: #40a3f8;
                border-radius: 5px;
                border: 1px solid #40a3f8;
                transition: all 0.4s;
                cursor: pointer;

                a {
                  opacity: 1;
                  color: #fff;
                }
                &:hover {
                  background-color: #fff;
                  border: 1px solid #40a3f8;
                  a {
                    color: #40a3f8;
                  }
                }
              }
              a {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #262323;
                opacity: 0.7;
                text-decoration: none;
                transition: all 0.4s;
                cursor: pointer;

                &:hover {
                  color: #40a3f8;
                }
              }
            }
          }
        }
        @media screen and (max-width: 956px) {
          nav {
            display: none;
          }
          .bars {
            display: block;
          }
        }
      }
    }
    main {
      border: inherit;

      .section_one {
        padding: 0px 6%;
        height: 100vh;
        background-color: rgba(177, 222, 255, 0.24);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        .section_one_item {
          border: inherit;

          &:nth-of-type(2) {
            background: url("../image/Back\ image\ shape.png") no-repeat;
            background-size: contain;
            background-position: 40% 50%;
          }
          img {
            width: 70%;
            height: 60%;
            object-fit: scale-down;
          }
          h1 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 70px;
            color: #3e3e3e;

            span {
              color: rgba(64, 163, 248, 1);
            }
          }
          p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: rgba(117, 117, 117, 0.46);
            margin-top: 31px;
          }
          form {
            width: 90%;
            margin-top: 50px;
            background: #ffffff;
            box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
            border-radius: 8px;
            padding: 13px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 19px;

            input {
              padding: 17px 30px;
              background: rgba(245, 246, 250, 0.52);
              border-radius: 8px;
              outline: none;
              border: none;

              &::placeholder {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.3);
              }
            }
            .dropdown {
              button {
                background: rgba(245, 246, 250, 0.52);
                border-radius: 8px;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #3d3d3f;
                outline: none;
                border: none;
                padding: 17px 28px;
              }
            }
            button {
              justify-self: center;
              border: none;
              padding: 12px 19px;
              background: #40a3f8;
              border-radius: 8px;
              border: 1px solid #40a3f8;
              transition: all 0.4s;
              svg {
                path {
                  transition: all 0.4s;
                }
              }

              &:hover {
                background-color: #fff;

                svg {
                  path {
                    fill: #fff;
                    stroke: #40a3f8;
                  }
                }
              }
            }
          }
        }

        @media screen and (max-width: 1430px) {
          .section_one_item {
            h1 {
              font-size: 42px;
              line-height: 50px;
            }
            form {
              width: 80%;
              margin: 30px 0 0 0;
              grid-template-columns: repeat(2, 1fr);
              gap: 0;
              align-items: center;

              input {
                padding: 12px 20px;
              }
              .dropdown {
                display: none;
                padding: 12px 20px;
              }
              button {
                height: 50px;
                justify-self: right;
                box-sizing: border-box;
                padding: 7px 12px;
              }
            }
          }
        }
        @media screen and (max-width: 996px) {
          .section_one_item {
            h1 {
              font-size: 36px;
              line-height: 40px;
            }
          }
        }
        @media screen and (max-width: 996px) {
          grid-template-columns: 1fr;
          text-align: center;
          gap: 100px;
          height: 500px;
          background: url("../image/Back\ image\ shape.png") no-repeat;
          background-size: contain;
          background-position: 120% 50%;
          position: relative;

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background: url("../image/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture 1 (1).png")
              no-repeat;
            background-size: contain;
            background-position: 180% 50%;
          }
          .section_one_item {
            justify-self: center;
            padding: 20px 8px;
            width: 80%;
            position: relative;
            border-radius: 7px;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);

            form {
              width: 60%;
              margin: auto;
            }
            &:nth-of-type(2) {
              display: none;
            }
          }
        }
        @media screen and (max-width: 726px) {
          .section_one_item {
            form {
              width: 90%;
            }
            h1 {
              font-size: 32px;
              line-height: 35px;
            }
          }
        }
        @media screen and (max-width: 520px) {
          .section_one_item {
            width: 95%;
            h1 {
              font-size: 28px;
              line-height: 35px;
            }
          }
        }
        @media screen and (max-width: 430px) {
          .section_one_item {
            width: 98%;
            form {
              margin: 0;
              margin: auto;
              display: flex;
              grid-template-columns: none;

              input {
                width: 70%;
              }
            }
          }
        }
        @media screen and (max-width: 340px) {
          .section_one_item {
            h1 {
              font-size: 24px;
              line-height: 30px;
            }
          }
        }
        @media screen and (min-width: 1920px) {
          height: 880px;
        }
      }
      .section_two {
        //   border: inherit;
        padding: 75px 6%;
        text-align: center;
        background-color: rgba(177, 222, 255, 0.15);

        h1 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 42px;
          line-height: 70px;
          color: #3e3e3e;
        }
        .section_two_row {
          border: inherit;
          padding-top: 51px;
          display: grid;
          gap: 100px;
          grid-template-columns: repeat(3, 1fr);

          .section_two_row_col {
            border: inherit;

            .section_two_row_col_img {
              padding: 19px 16px;
              display: inline-block;
              border-radius: 50%;
            }

            &:nth-of-type(1) {
              .section_two_row_col_img {
                background: linear-gradient(
                  180deg,
                  rgba(0, 158, 255, 0.1) 0%,
                  rgba(56, 175, 255, 0.1) 100%
                );
                box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
              }
            }
            &:nth-of-type(2) {
              .section_two_row_col_img {
                background: radial-gradient(
                  51.35% 53.44% at 48.82% 46.56%,
                  rgba(255, 170, 6, 0.12) 0%,
                  rgba(255, 180, 26, 0.12) 100%
                );
                box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
              }
            }
            &:nth-of-type(3) {
              .section_two_row_col_img {
                background: linear-gradient(
                  90.26deg,
                  #5aaeff 0.21%,
                  rgba(99, 203, 254, 0.3) 97.38%
                );
                box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
              }
            }
            h3 {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 32px;
              color: #3d3d3f;
              margin-top: 5px;
            }
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              text-align: center;
              color: rgba(0, 0, 0, 0.5);
              margin-top: 18px;
            }
          }
        }
        @media screen and (max-width: 1096px) {
          h1 {
            font-size: 36px;
            line-height: 50px;
          }
        }
        @media screen and (max-width: 896px) {
          h1 {
            font-size: 32px;
            line-height: 40px;
          }
          .section_two_row {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
          }
        }
        @media screen and (max-width: 765px) {
          h1 {
            font-size: 28px;
            line-height: 30px;
          }
        }
        @media screen and (max-width: 565px) {
          h1 {
            font-size: 24px;
            line-height: 15px;
          }
          .section_two_row {
            grid-template-columns: 1fr;
            gap: 50px;

            .section_two_row_col {
              padding: 10px 20%;
            }
          }
        }
        @media screen and (max-width: 435px) {
          h1 {
            font-size: 20px;
            line-height: 30px;
          }
          .section_two_row {
            .section_two_row_col {
              padding: 10px 5%;
            }
          }
        }
      }
      .section_three {
        border: inherit;
        padding: 0px 6%;
        background-color: rgba(177, 222, 255, 0.15);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 100px;

        .section_three_item {
          border: inherit;
          &:first-of-type {
            img {
              width: 100%;
              height: 100%;
            }
          }
          &:last-of-type {
            h1 {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 42px;
              line-height: 49px;
              letter-spacing: 0.02em;
              color: #3d3d3f;
            }
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 0.02em;
              color: rgba(61, 61, 63, 0.7);
              margin-top: 24px;
            }
            .section_three_item_block {
              display: flex;
              align-items: center;
              gap: 18px;

              img {
                vertical-align: middle;
                align-self: center;
                height: 100%;
              }

              p {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.02em;
                color: #3d3d3f;
                margin: 0;
              }
              &:not(:first-of-type) {
                margin-top: 14px;
              }
            }
            a {
              display: flex;
              align-items: center;
              gap: 10px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 30px;
              letter-spacing: 0.02em;
              color: #ffffff;
              padding: 10px 19px;
              background: #40a3f8;
              border-radius: 5px;
              display: inline-block;
              text-decoration: none;
              margin-top: 24px;
              transition: all 0.4s;
              border: 1px solid #40a3f8;

              span {
                svg {
                  path {
                    transition: all 0.4s;
                  }
                }
              }

              &:hover {
                background-color: #fff;
                color: #40a3f8;

                span {
                  svg {
                    path {
                      stroke: #40a3f8;
                    }
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 996px) {
          gap: 10px;

          .section_three_item {
            &:last-of-type {
              h1 {
                font-size: 36px;
                line-height: 40px;
              }
            }
          }
        }
        @media screen and (max-width: 778px) {
          grid-template-columns: 1fr;
        }
        @media screen and (max-width: 390px) {
          .section_three_item {
            &:last-of-type {
              h1 {
                font-size: 32px;
                line-height: 40px;
              }
            }
          }
        }
      }
      .section_four {
        border: inherit;
        padding: 143px 6% 121px;
        text-align: center;
        background-color: rgba(177, 222, 255, 0.24);

        h3 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 42px;
          line-height: 49px;
          letter-spacing: 0.02em;
          color: #3d3d3f;
        }
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.02em;
          color: rgba(61, 61, 63, 0.7);
          margin-top: 24px;
        }
        .section_four_row {
          border: inherit;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;
          gap: 65px;
          margin-top: 75px;

          .section_four_row_col {
            text-align: center;
            padding: 31px 63px;
            background: #ffffff;
            box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
            border-radius: 10px;

            &:last-of-type {
              padding: 23px 63px;
            }

            h4 {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 30px;
              text-align: center;
              color: #3d3d3f;
              margin-top: 17px;
            }
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              text-align: center;
              color: #999999;
              margin-top: 23px;
            }
          }
        }

        .section_four_row_two {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          max-width: 159px;
          margin: auto;
          margin-top: 94px;
          gap: 15px;

          .section_four_row_two_col {
            width: 60px;
            height: 15px;
            background: #40a3f8;
            border-radius: 6px;
            cursor: pointer;

            &:not(:first-of-type) {
              width: 18px;
              height: 18px;
              background: #dbe8ee;
            }
          }
        }
        @media screen and (max-width: 1200px) {
          .section_four_row {
            gap: 20px;
            .section_four_row_col {
              padding: 21px 33px;

              &:last-of-type {
                padding: 21px 33px;
              }
            }
          }
        }
        @media screen and (max-width: 890px) {
          .section_four_row {
            grid-template-columns: repeat(2, 1fr);
            .section_four_row_col {
              height: 266px;
            }
          }
        }
        @media screen and (max-width: 590px) {
          h3 {
            font-size: 38px;
          }
          .section_four_row {
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;

            .section_four_row_col {
              max-width: 365px;
            }
          }
        }
      }
      .section_five {
        border: inherit;
        padding: 0 6% 110px;
        text-align: center;

        h1 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 42px;
          line-height: 49px;
          letter-spacing: 0.02em;
          color: #3d3d3f;
        }
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.02em;
          color: rgba(61, 61, 63, 0.7);
          margin-top: 47px;
        }
        .section_five_row {
          border: inherit;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 36px;

          .section_five_row_col {
            border: inherit;
            background: linear-gradient(
              138.88deg,
              rgba(254, 254, 254, 0) -2.44%,
              #f9f9f9 -2.43%,
              rgba(254, 254, 254, 0.51) 98.26%
            );
            border: 1px solid #eeeff1;
            filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
            border-radius: 10px;
            padding: 10px 10px 27px 10px;

            .section_five_row_col_img {
              height: 250px;
              img {
                object-fit: cover;
                object-position: 0% 15%;
                width: 100%;
                height: 100%;
                box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
              }
            }
            h3 {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 30px;
              text-align: center;
              color: #3d3d3f;
              margin-top: 18px;
            }
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              text-align: center;
              color: #999999;
              margin-top: 2px;
            }
            .section_five_row_col_social {
              border: inherit;
              margin-top: 17px;
              display: grid;
              max-width: 132px;
              margin: auto;
              align-items: center;
              grid-template-columns: repeat(3, 1fr);
              text-align: center;

              a {
                text-align: center;
                width: 30px;
                height: 30px;
                padding: 8px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-self: center;

                &:nth-of-type(1) {
                  background: #4d77cf;
                  border: 1px solid #4d77cf;
                  transition: all 0.4s;
                  &:hover {
                    background-color: #fff;
                    svg {
                      path {
                        fill: #4d77cf;
                      }
                    }
                  }
                }
                &:nth-of-type(2) {
                  background: #1da1f2;
                  border: 1px solid #1da1f2;
                  transition: all 0.4s;
                  &:hover {
                    background-color: #fff;
                    svg {
                      path {
                        fill: #1da1f2;
                      }
                    }
                  }
                }
                &:nth-of-type(3) {
                  background: #0077b5;
                  border: 1px solid #0077b5;
                  transition: all 0.4s;
                  &:hover {
                    background-color: #fff;
                    svg {
                      path {
                        fill: #0077b5;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .section_five_link {
          display: inline-block;
          margin: auto;
          margin-top: 58px;
          background: #40a3f8;
          border: 1px solid #40a3f8;
          border-radius: 5px;
          padding: 10px 22px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          color: #ffffff;
          text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          text-decoration: none;
          transition: all 0.4s;

          &:hover {
            background-color: #fff;
            color: #40a3f8;
          }
        }
        @media screen and (max-width: 1200px) {
          .section_five_row {
            .section_five_row_col {
              &:nth-of-type(3) {
                .section_five_row_col_img {
                  overflow: hidden;
                  border-radius: 10px;

                  img {
                    object-fit: cover;
                    object-position: 0 -40%;
                    transform: scale(1.4);
                    border-radius: 10px;
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 1080px) {
          .section_five_row {
            .section_five_row_col {
              &:nth-of-type(3) {
                .section_five_row_col_img {
                  img {
                    object-position: 0 -140%;
                    transform: scale(1.4);
                    border-radius: 10px;
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 1038px) {
          .section_five_row {
            grid-template-columns: repeat(3, 1fr);
            .section_five_row_col {
              &:nth-of-type(3) {
                .section_five_row_col_img {
                  img {
                    object-position: 0 0%;
                    transform: scale(1.2);
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 896px) {
          h1 {
            font-size: 38px;
          }
          .section_five_row {
            grid-template-columns: repeat(2, 1fr);
          }
        }
        @media screen and (max-width: 530px) {
          .section_five_row {
            grid-template-columns: 1fr;
            justify-items: center;
            .section_five_row_col {
              width: 80%;
            }
          }
        }
        @media screen and (max-width: 400px) {
          h1 {
            font-size: 36px;
          }
        }
        @media screen and (max-width: 370px) {
          .section_five_row {
            .section_five_row_col {
              width: 100%;
            }
          }
        }
      }
      .section_six {
        width: 85%;
        margin: auto;
        border: inherit;
        margin-top: 0px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;

        .section_six_item {
          &:first-of-type {
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
          &:last-of-type {
            h3 {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 500;
              font-size: 42px;
              line-height: 60px;
              letter-spacing: 0.02em;
              color: #3d3d3f;
            }
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 30px;
              margin-top: 30px;
              letter-spacing: 0.02em;
              color: rgba(61, 61, 63, 0.7);
            }
            .section_six_item_apps {
              margin-top: 30px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 13px;
            }
          }
        }
        @media screen and (max-width: 1170px) {
          .section_six_item {
            &:last-of-type {
              h3 {
                font-size: 36px;
                line-height: 50px;
              }
              p {
                line-height: 25px;
              }
            }
          }
        }
        @media screen and (max-width: 986px) {
          .section_six_item {
            &:last-of-type {
              h3 {
                font-size: 32px;
                line-height: 42px;
              }
              p {
                line-height: 20px;
              }
            }
          }
        }
        @media screen and (max-width: 860px) {
          .section_six_item {
            &:last-of-type {
              h3 {
                font-size: 28px;
                line-height: 36px;
              }
              p {
                line-height: 18px;
              }
            }
          }
        }
        @media screen and (max-width: 800px) {
          grid-template-columns: 1fr;
          text-align: center;
          .section_six_item {
            &:last-of-type {
              .section_six_item_apps {
                justify-content: center;
              }
            }
          }
        }
      }
      .section_seven {
        border: inherit;
        margin-top: 120px;
        overflow: hidden;

        h1 {
          text-align: center;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 42px;
          line-height: 49px;
          letter-spacing: 0.02em;
          color: #3d3d3f;
        }
        .section_seven_row {
          margin-top: 68px;
          border: inherit;
          margin: 0 33px;
          padding: 25px 97px;
          display: grid;
          grid-template-columns: repeat(15, 1fr);
          gap: 33px;
          position: relative;
          overflow: hidden;
          z-index: 1;

          &::before {
            padding: 13px 6.64px;
            content: url("../image/sect7_left.png");
            position: absolute;
            top: 50%;
            left: 12px;
            background: linear-gradient(
              133.16deg,
              rgba(154, 208, 255, 0.466) 0%,
              rgba(111, 188, 255, 0.1005) 112.21%
            );
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 2;
          }
          &::after {
            padding: 13px 6.64px;
            content: url("../image/sect7_right.png");
            position: absolute;
            top: 50%;
            right: 12px;
            background: #40a3f8;
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 2;
          }

          .section_seven_row_col {
            width: 390px;
            background: linear-gradient(
              132.1deg,
              rgba(255, 255, 255, 0.88) 0.65%,
              #fafafa 103.13%
            );
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
            padding: 22px 48px;
            text-align: center;
            position: relative;
            z-index: 0;
            animation: slide 40s linear infinite;

            @keyframes slide {
              from {
                transform: translateX(0);
              }
              to {
                transform: translateX(calc(-250px * 7));
              }
            }

            &::after {
              content: url("../image/quote.png");
              position: absolute;
              top: -25px;
              left: 85%;
              width: 40px;
              height: 40px;
              background: linear-gradient(
                105.02deg,
                #47c2ff 9.87%,
                rgba(99, 203, 254, 0.65) 161.1%
              );
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            h3 {
              height: 45px;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 55px;
              color: #3d3d3f;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              align-items: center;
              margin: 0;
              text-align: left;

              img {
                justify-self: flex-end;
              }
            }
            a {
              text-decoration: none;
              font-family: "Ubuntu";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 25px;
              color: #47c2ff;
              text-align: left;
              display: block;
            }
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 25px;
              color: #454d5d;
              text-align: left;
              margin-top: 16px;
            }
          }
        }
        @media screen and (max-width: 1460px) {
          .section_seven_row {
            padding: 25px 60px;
          }
        }
        @media screen and (max-width: 1384px) {
          .section_seven_row {
            .section_seven_row_col {
              padding: 16px 25px;
            }
          }
        }
        @media screen and (max-width: 1246px) {
          .section_seven_row {
            .section_seven_row_col {
              h3 {
                grid-template-columns: none;
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
        @media screen and (max-width: 1100px) {
          .section_seven_row {
            overflow-x: scroll;

            &::before {
              display: none;
            }
            &::after {
              display: none;
            }
            .section_seven_row_col {
              width: 300px;
            }
          }
        }
        @media screen and (max-width: 722px) {
          h1 {
            font-size: 34px;
            line-height: 40px;
          }
        }
        @media screen and (max-width: 450px) {
          .section_seven_row {
            padding: 60px 16px;
            margin: 0;
            margin-top: 68px;

            .section_seven_row_col {
              padding: 8px;
              width: 250px;
            }
          }
        }
      }
      .section_eight {
        border: inherit;
        background: #40a3f8;
        border-radius: 12px;
        margin: 200px 6%;
        padding: 82px 118px;
        position: relative;

        &::after {
          content: url("../image/sect8.png");
          position: absolute;
          top: -53%;
          right: 0;
        }
        &::before {
          content: url("../image/sect8_2.png");
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
        }
        .section_eight_title {
          position: relative;
          z-index: 1;
          h2 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            text-transform: capitalize;
            color: #ffffff;
          }
          a {
            margin-top: 21px;
            display: inline-block;
            background: #ffffff;
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            padding: 16px 18px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            font-feature-settings: "cpsp" on;
            color: #40a3f8;
            text-decoration: none;
            border: 1px solid #fff;
            transition: all 0.4s;

            &:hover {
              background: #40a3f8;
              color: #fff;
            }
          }
        }
        @media screen and (max-width: 998px) {
          &::after {
            top: -60%;
          }
          .section_eight_title {
            h2 {
              font-size: 34px;
              line-height: 35px;
            }
          }
        }
        @media screen and (max-width: 860px) {
          padding: 60px 50px;
          &::after {
            display: none;
          }
        }
        @media screen and (max-width: 620px) {
          .section_eight_title {
            h2 {
              font-size: 28px;
              line-height: 35px;
            }
          }
        }
      }
    }
    footer {
      border: inherit;

      .footer_top {
        border: inherit;
        padding: 34px 6%;
        background-color: #fff;
        border-bottom: 1px solid #969696;
        .footer_top_row {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: center;

          .footer_top_row_col {
            &:nth-of-type(1) {
              h2 {
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 31.635px;
                line-height: 47px;
                letter-spacing: 1px;
                color: #40a3f8;
              }
              p {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 180%;
                color: #646464;
                margin: 0;
                margin-top: 12px;
              }
              a {
                margin-top: 16px;
                display: inline-block;
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 180%;
                color: #646464;
                text-decoration: none;
              }
              .footer_top_row_col_social {
                width: 80%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
              }
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              justify-self: center;
              h4 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #323232;
              }
              ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                  a {
                    text-decoration: none;
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    color: #646464;
                    transition: all 0.4s;

                    &:hover {
                      color: #1da1f2;
                    }
                  }
                }
              }
            }

            &:nth-of-type(4) {
              box-sizing: border-box;
              h3 {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #323232;
              }
              p {
                margin-top: 19px;
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 180%;
                color: #646464;
              }
              form {
                margin-top: 14px;
                width: 100%;
                input[type="email"] {
                  width: 100%;
                  padding: 12px 20px;
                  background: #ffffff;
                  border: 1.1px solid #e1e2e4;
                  border-radius: 5px;
                  font-family: "Roboto";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 16px;
                  color: rgba(117, 117, 117, 0.65);
                  outline: none;
                }
                input[type="submit"] {
                  width: 100%;
                  background: #40a3f8;
                  border: 1.1px solid #e1e2e4;
                  border-radius: 5px;
                  padding: 12px 0;
                  margin-top: 12px;
                  font-family: "Roboto";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.02em;
                  color: #ffffff;
                  border: 1px solid #40a3f8;
                  transition: all 0.4s;

                  &:hover {
                    background-color: #fff;
                    color: #40a3f8;
                  }
                }
              }
            }
          }
        }
      }
      .footer_bottom {
        margin-top: 24px;
        padding: 4px 6%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer_bottom_item {
          p {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #646464;
          }
          &:nth-of-type(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 53px;
            a {
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 14px;
              color: #646464;
              text-decoration: none;
              display: inline-block;
              transition: all 0.4s;
              &:hover {
                color: #40a3f8;
              }
            }
          }
        }
      }
      @media screen and (max-width: 860px) {
        .footer_top {
          .footer_top_row {
            grid-template-columns: 1fr;
            justify-items: flex-start;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            gap: 50px;

            .footer_top_row_col {
              justify-self: flex-start;

              &:nth-of-type(2) {
                justify-self: flex-start;
              }
              &:nth-of-type(3) {
                justify-self: flex-start;
              }
            }
          }
        }
        .footer_bottom {
          flex-direction: column;
        }
      }
      @media screen and (min-width: 1920px) {
        width: 1920px;
        margin: auto;
      }
    }
    @media screen and (max-width: 300px) {
      width: 300px;
    }
  }
}
